.botones {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 20px;
}

.contenedor {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #212529;
   max-width: 900px;
  margin: 0 auto;
  text-align: center;
}