.botones {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 20px;
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 60vh;
}