.nav-tabs-custom {
    background-color: #155392;
    border-radius: 999px;
    padding: 0.5rem 1rem;
    display: inline-flex;
    gap: 1rem;
}

.nav-tabs-custom .nav-link {
    color: #343a40;
    font-weight: 500;
    border: none;
    border-radius: 0;
}

.nav-tabs-custom .nav-link.active {
    color: #0d6efd;
    border-bottom: 2px solid #0d6efd;
    border-radius: 20px;
}

.navtabswrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;    
    
}


.navbar {
    
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: white;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
